################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleApp2/v15/Server/sqlite3
/.vs/ConsoleApp2/v15/.suo
